<div class="container">
    <div class="row">
      <div class="col-sm">
        <router-outlet></router-outlet>
        <a [routerLink]="['/admin/employee']" routerLinkActive="router-link-active" 
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br> Employee
        </a>
      </div>
      <div class="col-sm">
        <a [routerLink]="['/work-schedule']" routerLinkActive="router-link-active" 
        role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-briefcase"></i></span>
           <br> Work Schedule
        </a>
      </div>
      <div class="col-sm">
        <a [routerLink]="['/admin/category']" routerLinkActive="router-link-active" 
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-briefcase"></i></span>
        <br> Category
        </a>
      </div>
      <div class="col-sm">
        <a [routerLink]="['/admin/inventory/' + 0]" routerLinkActive="router-link-active" 
          role="button"
          class="btn btn-outline-primary btn-lg btn-block text-center">
        <span><i class="fa fa-briefcase"></i></span>
        <br> Products
        </a>
      </div>
    </div>
  </div>
